include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt
recursive-include notebooks *.ipynb
recursive-include notebooks *.md
recursive-include notebooks/assets/images *.png *.jpg 